.navbar{
    ul{
        display: flex;
        list-style: none;
        padding: 1rem;
        background-color: #000000;
    }
    li {
        a{
            text-decoration: none;
            color: #fff;
            padding: 1rem;
        }
    }
}

